### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# number of schools
num_schools = len(school_data_complete['school_name'].unique())
num_schools

15

In [4]:
# number of students
num_students = school_data_complete['Student ID'].count()
num_students

39170

In [5]:
# find budget for schools
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
# average of math score for whole school
math_score_average = school_data_complete['math_score'].mean()
math_score_average

78.98537145774827

In [7]:
# average of reading score for whole school
reading_score_average = school_data_complete['reading_score'].mean()
reading_score_average

81.87784018381414

In [8]:
# find percent passing math
passing_math = school_data_complete['math_score']>=70
math_percentage = passing_math.value_counts()[True]
math_percentage / num_students*100

74.9808526933878

In [9]:
# find percent passing reading
passing_reading = school_data_complete['reading_score']>=70
reading_percentage = passing_reading.value_counts()[True]
reading_percentage / num_students*100

85.80546336482001

In [10]:
# find percentage of passing students
overall_passing = passing_math & passing_reading
overall_passing.value_counts()[True]/num_students*100

65.17232575950983

In [11]:
schools = pd.DataFrame({
    'School Total':[num_schools],
    'Student Total':[num_students],
    'Budget Total':[total_budget],
    'Math Average':[math_score_average],
    'Reading Average':[reading_score_average],
    'Passing Math':[math_percentage]/num_students*100,
    'Passing Reading':[reading_percentage]/num_students*100,
    'Passing Grade':[overall_passing.value_counts()[True]]/num_students*100
})

schools

,School Total,Student Total,Budget Total,Math Average,Reading Average,Passing Math,Passing Reading,Passing Grade
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_summary = pd.DataFrame({
    'School Name':school_data_complete['school_name'],
    'School Type':school_data_complete['type'],
    'Total Students':school_data_complete['Student ID'],
    'Total School Budget':school_data_complete['budget'],
    'Total Budget per Student':school_data_complete['budget']/num_students,
    'Math Average':math_score_average,
    'Reading Average':reading_score_average,
    'Passing Math':math_percentage/num_students*100,
    'Passing Reading':reading_percentage/num_students*100,
    'Passing Grade':overall_passing.value_counts()[True]/num_students*100
})

school_summary

,School Name,School Type,Total Students,Total School Budget,Total Budget per Student,Math Average,Reading Average,Passing Math,Passing Reading,Passing Grade
0,Huang High School,District,0,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
1,Huang High School,District,1,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
2,Huang High School,District,2,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
3,Huang High School,District,3,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
4,Huang High School,District,4,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,39165,1043130,26.630840,78.985371,81.87784,74.980853,85.805463,65.172326
39166,Thomas High School,Charter,39166,1043130,26.630840,78.985371,81.87784,74.980853,85.805463,65.172326
39167,Thomas High School,Charter,39167,1043130,26.630840,78.985371,81.87784,74.980853,85.805463,65.172326
39168,Thomas High School,Charter,39168,1043130,26.630840,78.985371,81.87784,74.980853,85.805463,65.172326
39169,Thomas High School,Charter,39169,1043130,26.630840,78.985371,81.87784,74.980853,85.805463,65.172326

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [16]:
school_summary['Passing Grade'].max()

65.17232575950983

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [37]:
school_summary.nsmallest(5, ['Passing Grade'])

,School Name,School Type,Total Students,Total School Budget,Total Budget per Student,Math Average,Reading Average,Passing Math,Passing Reading,Passing Grade
0,Huang High School,District,0,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
1,Huang High School,District,1,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
2,Huang High School,District,2,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
3,Huang High School,District,3,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326
4,Huang High School,District,4,1910635,48.778019,78.985371,81.87784,74.980853,85.805463,65.172326

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type